.sb-input {
	width: 100%;

	&--has-button {
		// stylelint-disable-next-line plugin/no-unsupported-browser-features
		display: flex;

		.wvui-input {
			flex-grow: 1;

			// stylelint-disable-next-line max-nesting-depth
			.wvui-input__input {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right-width: 0;
			}
		}

		.wvui-button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

@media all and ( min-width: 400px ) {
	.sb-input {
		width: 400px;
	}
}
