/node_modules/

# Omit build products but version the ES5 linter configuration.
/dist/*
!/dist/.eslintrc.json

/docs/

/.eslintcache
/.stylelintcache

# Blubber generated Dockerfile during Jenkins run.
/.pipeline/Dockerfile.*

docker-compose.override.yaml
