/package.json
/package-lock.json

# Omit build products but version the ES5 linter configuration.
/dist/*
!/dist/.eslintrc.json

/docs/

# Some tooling assumes that if a Prettier configuration file is present, all
# files should be prettier. This is not intended. Only Markdown and JSON should
# be pretty.
*.js
*.ts
*.less
*.vue
*.less
