/package-lock.json

# Omit build products but make the ES5 linter configuration prettier.
/dist/*
!/dist/.eslintrc.json

/docs/

# Some tooling assumes that if a Prettier configuration file is present, all
# files should be prettier. This is not intended. Only Markdown JSON, and YAML should
# be pretty.
*.js
*.ts
*.vue
*.less
