@import ( reference ) '~wikimedia-ui-base/wikimedia-ui-base.less';

@font-size-browser: 16; // assumed browser default of `16px`
@font-size-base: 0.875 / 1em; // equals `14px` at browser default of `16px`
@wvui-unit: em;

@size-base: 32 / @font-size-browser / @font-size-base; // equals `2.5em`≈`32px`
@size-indicator: 12 / @font-size-browser / @font-size-base;

@background-color-quiet: @wmui-color-base90;
@background-color-quiet--hover: @wmui-color-base80;

@opacity-icon-accessory: 0.67;

@line-height-component: unit( 20 / @font-size-browser / @font-size-base, @wvui-unit );

@border-color-input--hover: @border-color-base--active;

@box-shadow-widget: inset 0 0 0 1px transparent;

@width-search-suggestion-thumb: unit(2.5, @wvui-unit);
@height-search-suggestion-thumb: unit(2, @wvui-unit);

@font-size-search-suggestion-description: unit( 13 / @font-size-browser, @wvui-unit );
@font-size-search-suggestion-title: unit( 15 / @font-size-browser, @wvui-unit );

@background-color-typeahead-suggestion--active: @wmui-color-accent90;
@background-color-typeahead-suggestion-placeholder: @wmui-color-base90;

@border-color-typeahead-suggestion-thumb: @wmui-color-base80;

@padding-horizontal-typeahead-suggestion: @padding-horizontal-base;
@padding-vertical-typeahead-suggestion: 8px;
