@import ( reference ) '~wikimedia-ui-base/wikimedia-ui-base.less';

@font-size-browser: 16; // Common (assumed) browser default of `16px`.
@font-size-base: unit( 14 / @font-size-browser, @wvui-unit ); // Equals `0.875em` at browser default of `16px`.
@wvui-unit: em;

@size-base: 32 / @font-size-browser / @font-size-base; // equals `2.5em`≈`32px`
@size-indicator: 12 / @font-size-browser / @font-size-base;

@background-color-quiet--hover: rgba( 0, 24, 73, 7/255 ); // Equals `@wmui-color-base90` on white.
@background-color-quiet--active: rgba( 0, 36, 73, 21/255 ); // Equals `@wmui-color-base80` on white

@color-quiet--hover: @wmui-color-base0;

@box-shadow-destructive--focus: inset 0 0 0 1px @color-destructive, inset 0 0 0 2px @color-base--inverted;

@opacity-icon-accessory: 0.67;

@line-height-component: unit( 20 / @font-size-browser / @font-size-base, @wvui-unit );

// Border Colors primary buttons
@border-color-primary:            @color-primary;
@border-color-primary--hover:     @color-primary--hover;
@border-color-primary--active:    @color-primary--active;
@border-color-primary--focus:     @border-color-primary;
@border-color-destructive:        @color-destructive;
@border-color-destructive--hover: @color-destructive--hover;
@border-color-destructive--active: @color-destructive--active;
@border-color-destructive--focus: @border-color-destructive;

@border-color-input--hover: @border-color-base--active;

// Typeahead Suggestion.
@min-width-typeahead-suggestion-thumb: 36px;
@size-typeahead-suggestion-thumb: unit( 36 / @font-size-browser / @font-size-base, @wvui-unit );

@background-color-typeahead-suggestion--active: @wmui-color-accent90;
@background-color-typeahead-suggestion-placeholder: @wmui-color-base90;

@padding-horizontal-typeahead-suggestion: @padding-horizontal-base;
@padding-vertical-typeahead-suggestion: 8px;
@margin-end-typeahead-suggestion-thumb: @padding-horizontal-typeahead-suggestion;

@border-color-typeahead-suggestion-thumb: @wmui-color-base80;

@font-size-typeahead-suggestion-description: unit( 14 / @font-size-browser, @wvui-unit );
@font-size-typeahead-suggestion-title: unit( 16 / @font-size-browser, @wvui-unit );

// Put absolute positioned icon in input on correct starting coordinate.
@start-input-text-icon: @padding-horizontal-input-text + @border-width-base;
@end-input-text-icon: @padding-horizontal-input-text + @border-width-base;
